.Navbar{
    display: flex;
    flex-direction: row;
    background-color: #20083e;
    color: white;
    padding: 9px;
    font-size: 21px;
    font-weight: bold;
    justify-content: flex-start;
    position: sticky;
    top:0px;
    z-index: 1;
}

.Appname{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.Applogo{
    width: 43px;
    height: 43px;
    margin: 8px;
}

.Applogo:hover{
    opacity: 0.8;
}

.Brand{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 430px) {
    .Navbar {
        font-size: 17px;
        padding: 4px;
    }
    .Applogo{
        width: 38px;
        height: 38px;
        margin: 8px;  
    }
  }